@page "/"
@using System.Text.RegularExpressions;
@inject TrumpeterStorage TrumpeterStorage;

<h1>摇号器</h1>
<div>
	<span style="font-weight:bold">
		输入范围：
	</span>
	<span>从</span>
	<input placeholder="最小值" @bind="Input1" @bind:event="oninput" />
	<span>到</span>
	<input placeholder="最大值" @bind="Input2" @bind:event="oninput" />
</div>
<div>
	<button disabled="@ButtonDisabled" @onclick="OnButtonClick">
		@ButtonText
	</button>
	名单模式：<input type="checkbox" @bind="_checked" @bind:event="oninput"
				@onchange="OnCheckChange" />
</div>
<div class="display">
	@if (_checked)
	{
		@DisplayName
	}
	else
	{
		@DisplayNum
	}
</div>
