*{
	font-size:20px;
	padding:0px;
	margin:0px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 1em;
}

textarea{
	width:100%;
	min-height:10em;
	padding:10px;
}

button {
	margin-bottom: 1em;
}
button:active:enabled {
	background-color: rgb(12, 206, 47, 0.78);
}
