* {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

#body {
	height: 100%; /*纵向弹性盒不会主动撑开主轴，所以需要设置高度*/
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 1em;
}

textarea {
	flex: 1;
	padding: 10px;
	resize: none;
}

button {
	margin-bottom: 1em;
	width: fit-content;
}

	button:active:enabled {
		background-color: rgb(12, 206, 47, 0.78);
	}
